body {
	background-size: 800px 600px;
}
h1 {
  color: white;
  padding: 5px 10px;
  font-family: Optima, sans-serif;
  border: 3px outset silver;
  background-color: lightblue;
}
h2{
  color: white;
}
h3{
  margin-left: 10px;
  margin-right: 10px;
}
h1, h2{
  text-align: center;
  line-height: 1.6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
div.ex3 {
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: lightblue;
  width: 650px;
  height: 500px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 100px;
}
@media only screen and (min-width: 700px){
  body, h1, h2, ul, li, li a, div.ex3, img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}